.content{
    grid-area: g-content;
    background-color: lightpink;
    /*padding: 20px;*/
}


.profileBgBlock{
    display: block;
    width: 960px;
    height: 300px;
}

.profileBg{
    /*display: block;*/
    width: 960px;
    height: 300px;
    /*overflow: hidden;*/
}

.ava{
    width: 200px;
    height: 200px;
}